* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;

}

.wrap .side-wrapper {
  display: flex;
  position: relative;
}

.wrap .side-wrapper .side-navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.side-wrapper .side-navigation {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: block;
}

.side-navigation ul a {
  text-decoration: none;
  color: #725c5c;
}

.side-navigation ul a :hover {
  background-color: #fdf1eb;
  border-left: 2px;
}

.side-navigation ul a li {
  padding: 7px 75px 7px 24px;
  border-bottom: 0.1px solid #e2e2e2;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #725c5c;
}

.text-wrap {
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  padding: 20px 22px 20px 20px;
}

.text-wrap h1 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.wrap .content {
  margin-left: 200px;
}

.wrap .content header {
  display: flex;
  justify-content: space-around;
  background-color: #fdf1eb;
  padding: 10px;
}

.wrap .content header i {
    display: none;
}

.wrap .content header .header-text .small-text {
  font-size: 14px;
  color: #725c5c;
  font-weight: 400 normal;
  line-height: 16.41px;
}

.wrap .content header .header-text .responsive-text {
  display: none;
}

.wrap .content header .header-text .main-text {
  font-size: 20px;
  font-weight: normal;
  color: #725c5c;
  line-height: 26px;
}

header .select-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .select-box select {
  width: 97px;
  height: 34px;
  background-color: transparent;
  border-color: #cccccc;
  border-radius: 3px;
  padding: 2px;
  text-align: center;

}
.wrap .content header .login-text {
  text-align: end;
  margin-top: 8px;
}

.wrap .content header .login-text .welcome-text {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}
.wrap .content header .login-text .email-text {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.wrap .content header img {
  border-radius: 50%;
  width: 50px;
}

.wrap .content .main-content .flex-content {
  display: flex;
  justify-content: space-between;
  margin: 15px 40px;
}

.wrap .content .main-content .flex-content h1 {
  font-size: 20px;
  font-weight: 900 normal;
  color: #ed7839;
}

.wrap .content .main-content .flex-content .btn .download-btn {
  width: 120px;
  height: 31px;
  background-color: #ed7839;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.wrap .content .main-content .flex-content .btn .download-btn span {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500 normal;
}

.wrap .content .main-content .flex-content .btn button {
  width: 43px;
  height: 31px;
  background-color: #ed7839;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 4px;
}

.wrap .content .main-content .flex-content .btn-text {
  margin-top: 12px;
}

.wrap .content .main-content .flex-content .btn-text p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #ed7839;
}

.wrap .content .video-content {
  display: flex;
  justify-content: space-between;
  margin: 15px 40px;
}

.wrap .content .block-content {
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px;
  width: 242px;
  height: 439px;
}

.wrap .content .block-content .details-text {
  width: 100%;
  height: 45px;
  background: #fdf1eb;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  padding: 11px 15px 9px 15px;
}

.wrap .content .block-content .details-text h3 {
  font-size: 20px;
  color: #4e4e4e;
  font-weight: 500 normal;
  display: flex;
  align-items: center;
}

.wrap .content .block-content .description-text {
  padding: 15px;
}

.wrap .content .block-content .description-text p {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 400 normal;
  color: #5c5c5c;
  margin-bottom: 6px;
}

.wrap .content .block-content .description-text .autores p {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 400 normal;
  color: #5c5c5c;
  margin-top: 10px;
  margin-bottom: 6px;
}

.wrap .content .block-content .description-text p span {
  font-weight: bold;
}

.wrap .content .block-content .description-text .reference {
  margin-top: 35px;
}

.wrap .content .block-content .description-text .reference p {
  color: #b6b6b6;
}

.wrap .content .resume {
  border: 1px solid #ececec;
  border-radius: 3px 3px 0px 0px;
  margin: 15px 40px;
  box-sizing: border-box;
}

.wrap .content .resume .resume-text {
  background: #fdf1eb;
  border-bottom: 1px solid #ececec;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500 normal;
  color: #4e4e4e;
  display: flex;
  align-items: center;
}

.resume .read-more-container .container p {
  padding: 15px;
  position: static;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #5c5c5c;
}

.resume .read-more-container .container a {
  text-decoration: none;
  color: #ed7839;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px 15px 15px;
}

.resume .read-more-container .read-more-text {
  display: none;
}

.resume .read-more-container .read-more-text--show {
  display: inline;
}

.wrap .content .discussion {
  margin: 15px 40px;
  box-sizing: border-box;
}

.wrap .content .discussion .box {
  border: 1px solid #ececec;
  border-radius: 3px 3px 0px 0px;
}

.wrap .content .discussion .box .discussion-text {
  background: #fdf1eb;
  border-bottom: 1px solid #ececec;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500 normal;
  color: #4e4e4e;
  display: flex;
  align-items: center;
}

.wrap .content .discussion .flex-box-content .box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  align-items: center;
}

.wrap .content .discussion .p1 {
  color: #ed7839;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 27px;
}

.wrap .content .discussion .logos img {
  margin-right: 52px;
}

.wrap .content .discussion .logos img:last-of-type {
    margin-right: 0;
}

.wrap .content .discussion .p2 {
  text-align: center;
  padding: 30px 150px 14px;
  color: #595959;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

#btn1 {
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  border: none;
  width: 133px;
  height: 32px;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#btn1 img {
  margin: 14px;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 40px 10px 40px;
  border: none;
}

footer .footer-container img {
  background-color: #402457;
  margin-right: 20px;
  margin-bottom: 10px;
}

footer .footer-container p {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #4d4d4d;
}

footer .footer-container p:first-of-type {
  margin: 0px 0px 20px 0px;
}

footer .footer-container p span {
  font-weight: bold;
}

/* Comentários */

.wrap .content .discussion .topic-box .comment-box {
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 0px;
}

#comment-content {
  padding: 18px 23px;
}

#comment-content .comment-title p {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #5c5c5c;
  margin-bottom: 10px;
}

#comment-content > p {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  color: #4d4d4d;
  margin-bottom: 30px;
}

/* Mostrar comentários */

.topic-answers {
    cursor: pointer;
}

.topic-answers:hover {
    color: #ED7839;
    transition: 2ms;
}

.comment-box {
    display: none;
}

.comment-content--show {
    display: flex;
    flex-direction: column;
}

/* Criar tópico */

.flex-box-content .topic-box {
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 17px;
  border: 1px solid #e7e7e7;
  font-family: "Quicksand", sans-serif;
}

.flex-box-content .topic-box h3 {
  font-size: 16px;
  color: #ed7839;
  padding: 17px 500px 3px 25px;
}

.flex-box-content .topic-box .questions p:first-of-type {
  font-size: 12px;
  font-weight: bold;
  color: #5c5c5c;
  padding: 3px 462px 1px 25px;
}

.flex-box-content .topic-box .questions #comment {
  text-align: left;
  font-size: 14px;
  padding: 10px 20px 14px 25px;
}

.flex-box-content .topic-box .topic-flex {
  display: flex;
}

.flex-box-content .topic-box .topic-flex a img {
  margin: 11px 15px 18px 20px;
}

.flex-box-content .topic-box .topic-flex > button {
  width: 27px;
  height: 19px;
  background-color: #ed7839;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  border: none;
  margin-top: 11px;
  cursor: pointer;
}

.flex-box-content .topic-box .topic-flex > p {
  margin: 11px 0px 0px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #757575;
}

/* Glassmorphism */


.flex-box-content .glass-box {
  position: relative;

}

.flex-box-content .glass-box .content-glass-box{
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(200,200,200, 0.2) ;
  width: 1016px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.flex-box-content .glass-box .content-glass-box .glass-img-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.flex-box-content .glass-box .content-glass-box .glass-img-texts p {
  margin: 20px 0px 20px 0px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.flex-box-content .glass-box .content-glass-box .glass-img-texts a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #ED7839;
}


